<h2>List of items:</h2>
<ul>
  <li *ngFor="let item of items">
    <h3 (click)=itemClicked(item)>{{ item.name }}</h3>
    <p>{{ item.desc }}</p>
  </li>
</ul>
<hr>
Name
<br>
<input type="text" [(ngModel)]="selectedItem.name" />
<br>
<br>
Description
<br>
<input type="text" [(ngModel)]="selectedItem.desc" />
<br>
<br>
<button (click)="createItem()"> POST </button>
<button *ngIf="selectedItem.id != -1" (click)="updateItem()"> UPDATE </button>
<button *ngIf="selectedItem.id != -1" (click)="deleteItem()"> DELETE </button>

<router-outlet></router-outlet>
